<ion-view>

    		<ion-nav-title>
			<div class="bar bar-header">
  
              <h1 class="title">{{homeworld.name}}</h1>
              
            </div>
            </ion-nav-title>
	
		<ion-content class="starwars-title-bg-inner padding">
            
		<div class="list card">

          <a href="#" class="item">
            Rotation Period:
            {{homeworld.rotation_period}}
          </a>

          <a href="#" class="item">
            Orbital Period:
            {{homeworld.orbital_period}}
          </a>

          <a href="#" class="item item-icon-right">
            Diameter:
            {{homeworld.diameter}}
            
          </a>

         <a href="#" class="item">
            Climate:
            {{homeworld.climate}}
          </a>

        </div>
            
		</ion-content>
	
	</ion-view>